fastapi==0.115.3
fastapi-cli==0.0.5
uvicorn==0.32.0
sqlalchemy==2.0.34
pydantic==2.9.2
pydantic-scim==0.0.8
pydantic-settings==2.5.2
python-dotenv==1.0.1
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.12
requests==2.32.3
cachetools==6.0.0
